.js-weather {
    background-color: rgba(253, 245, 230, 0.568); border-radius: 5px;
    font-size: 20px; color: navy; padding: 3px;
}

.box-todo {
    width: 350px; height: 30px; border-radius: 5px; margin-top: 20px;
    background: rgba(255, 255, 255, 0.7); box-sizing: border-box;
    align-content: center;
}

.box-pending {
    width: 350px; height: 250px; background: rgba(255, 255, 255, 0.7); 
    box-sizing: border-box; border-radius: 5px;
}

.box-finished {
    width: 350px; height: 250px; background: rgba(255, 255, 255, 0.7); 
     border-radius: 5px; 
}
.js-toDoForm {
    padding-left: 10px;
}
.toDoInput {
    background-color: rgba(255, 255, 255, 0.048); border: 3px solid rgba(255, 255, 255, 0.068);
    font-size: 15px; font-family: sans-serif;
}

.pend-title{
    padding-left: 10px;
    align-content: center;
    justify-content: center;
}

.fin-title{
    padding-left: 10px;
}

.form {
    background-color: rgba(255, 255, 255, 0.048); border: 3px solid rgba(255, 255, 255, 0.068);
    font-size: 15px; font-family: sans-serif;
    justify-items: center;
    position:absolute;
    left: 50%; margin-left: -100px;
}
.form,
.greetings {
    display: none;
}
.showing {
    display: block;
}

.greetings{
    font-size: 30px; text-align: center;
    color: rgb(11, 19, 32); text-align: center;
}

.js-clock {
    font-size: 40px; font-family: sans-serif;
    color: rgb(11, 19, 32);
}

.bgImage{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    display: flex;
    object-fit: cover;
    z-index: -1;
    animation: fadeIn .5s linear;
}

ul {
    padding-inline-start: 20px;
}

li {
    list-style: none;
    color: black;
    animation: fadeIn 0.5s ease-in;
    margin-bottom: 3px;
  }

@keyframes fadeIn{
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}